{{> head }}
{{> navbar }}

<div class="row">
<div class="col-6">
    <h1>
Tocando 
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ratione consequuntur vel architecto, temporibus ut excepturi illo impedit consequatur maxime atque repellendus nemo delectus! Qui repellendus perferendis architecto. Eveniet, aliquam?</p>
</div>

</div>

<div class="col-6">
    <img src="assets/img/1d504267-d3ed-475b-b088-e419b1c28d06.jpg" alt="foto" class="img-thumbnail" style="width: 50%">
</div>
{{> footer }}